.allscreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 900000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alertedscreen {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
