.all_nav {
  height: 8vh;
  width: 100%;
  position: absolute;
  z-index: 90000;
}
.navbar {
  z-index: 90000;
}
.nav_first {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.activ {
  height: 8vh;
  background-color: rgb(0, 107, 230);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90000;
}

.logo {
  background-color: rgb(0, 107, 230);
  height: 100%;
}

.nav {
  height: 100%;
}

.nav_links_ul {
  margin-right: 100px;
}
.nav_btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
}

.menubutton {
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
  text-transform: uppercase;
  border-radius: 40%;
}

.menubtn {
}

.menu_on_click {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.naemuser {
  text-align: right;
}
.username {
  color: rgb(101, 150, 29);
  text-decoration: underline;
}

.pos_rel {
  cursor: pointer;
}

.pos_absulot_none {
  opacity: 0;
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  overflow: scroll;
  width: 0;
  background-color: aliceblue;
  transition: all 0.5s ease;
}

.pos_absulot_none_activ {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: scroll;
  width: 30%;
  background-color: aliceblue;
  transition: all 0.5s ease;
  z-index: 90000;
}

.orferList {
  height: 80%;
  width: 100%;
  color: black;
}
.ul_list {
  height: 100%;
  width: 100%;
  background-color: beige;
}

.jus_contact {
  justify-content: space-around;
}

.transition {
  transition: all 0.5s ease;
}
